@import "./variables";
footer {
  width: 100%;
  background-color: $main_third;
  margin-top: 72px;
  padding: 22px 0px 11px 0;
  p {
    margin: 0px;
    padding-bottom: 8px;
  }
  a {
    color: #1f4766;
    font-weight: 700;
  }
}
.contact {
  margin-left: 40px;
  font-size: 16px;
}
@media screen and (max-width: $break-point) {
  footer {
    .logo2 {
      margin-bottom: 15px;
    }
    padding: 22px 15px;
  }
}
