@import "./variables";
.input {
  @extend %input_border;
  &:focus {
    outline: none;
  }
}
.header {
  margin-top: 32px;
  &__form {
    padding: 0;
    margin-left: 88px;
    margin-top: 5px;
    input {
      height: 32px;
      width: 320px;
      &::placeholder{
        font-size: 15px;
      }
    }
    button {
      border: none;
      background-color: transparent;
      color: $main;
      margin-left: 20px;
      font-size: 16px;
    }
  }
  &__login {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    p {
      font-weight: bold;
    }
    button {
      background-color: $main;
      margin-right: 2px;
      margin-top: 5px;
      padding: 7px 32px;
      font-size: 16px;
      color: #fff;
      &:hover {
        background-color: $main_dark;
      }
    }
  }
}
.user {
  position: relative;
  a {
    border: none;
    background-color: transparent;
    color: $main;
    margin-top: 2px;
    text-decoration: none;
    padding: 6px 0;
    font-weight: bold;
    font-size: 16px;
  }
  p {
    margin: 0px;
    margin-right: 16px;
    cursor: pointer;
  }
  input {
    position: absolute;
    top: -20;
    left: -20;
  }
}
@media screen and (max-width: $break-point) {
  .header {
    flex-direction: column;
    justify-content: center;
    &__logo {
      text-align: center;
    }
    &__form {
      max-width: 80%;
      margin: 30px auto;
    }
    &__login {
      justify-content: space-around;
    }
  }
}
