@import "./variables";
.input {
  @extend %input_border;
  &:focus {
    outline: none;
  }
}
.header {
  margin-top: 32px;
  &__form {
    padding: 0;
    margin-left: 70px;
    input {
      width: 65%;
    }
    button {
      border: none;
      background-color: transparent;
      color: $main;
      margin-left: 24px;
      margin-top: 3px;
    }
  }
  &__login {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    p {
      font-weight: bold;
    }
    button {
      background-color: $main;
      padding: 7px 30px;
      color: #fff;
      &:hover {
        background-color: $main_dark;
      }
    }
  }
}
.user {
  position: relative;
  a {
    border: none;
    background-color: transparent;
    color: $main;
    margin-top: 2px;
    text-decoration: none;
    padding: 6px 0;
    font-weight: bold;
    font-size: 16px;
  }
  p {
    margin: 0px;
    margin-right: 16px;
    cursor: pointer;
  }
  input {
    position: absolute;
    top: -20;
    left: -20;
  }
}
@media screen and (max-width: $break-point) {
  .header {
    flex-direction: column;
    justify-content: center;
    &__logo {
      text-align: center;
    }
    &__form {
      width: auto;
      margin: 30px auto;
    }
    &__login {
      justify-content: space-around;
    }
  }
}
