@import "./variables";
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.modal {
  z-index: 15;
  &-content {
    margin-top: 200px !important;
    height: 394px;
    width: 304px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
  }
  &-title {
    font-weight: bold;
    text-align: center;
    margin: 36px 0;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  &-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0 30px;
  }
  &-input {
    input {
      width: 100%;
      margin-bottom: 23px;
      padding: 4px;
      &.wrong {
        border-color: red;
      }
    }
  }
  button {
    background-color: $main;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
  }
  &-check {
    display: flex;
    flex-direction: column;
    position: relative;
    input {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      opacity: 0;
      z-index: 5;
      cursor: pointer;
    }
    .remember-fake {
      position: absolute;
      left: 5px;
      width: 16px;
      height: 16px;
      border: 1px solid black;
      border-radius: 3px;
      color: $main;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .remember-label {
      margin-left: 30px;
    }
    .enter {
      width: 113px;
      margin: 0 auto;
      margin-top: 111px;
    }
  }
}

@media screen and (max-width: $break_point) {
  .modal-content {
    margin-top: 50px !important;
  }
}
