@import "./variables";
.switch {
  margin-top: 44px;
  margin-bottom: 23px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 28px;
  font-weight: bold;
  &__movie {
    cursor: pointer;
    box-sizing: border-box;
    padding-bottom: 6px;
    border-bottom: 3px solid transparent;
    &.active {
      color: $main;
      border-bottom: 3px solid $main;
    }
  }
  &__tv {
    margin-left: 24px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    &.active {
      color: $main;
      border-bottom: 3px solid $main;
    }
  }
}
