@import "./variables";
.switch {
  margin-top: 38px;
  margin-bottom: 23px;
  font-size: 28px;
  font-weight: bold;
  &__movie {
    cursor: pointer;
    margin-left: 20px;
    box-sizing: border-box;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    &.active {
      color: $main;
      border-bottom: 3px solid $main;
    }
  }
  &__tv {
    margin-left: 17px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    &.active {
      color: $main;
      border-bottom: 3px solid $main;
    }
  }
}
