@import "./variables";
.tv {
  &__box {
    max-height: 66vh;
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
    overflow: auto;
  }
  &__channel {
    border-radius: 8px;
    margin-bottom: 16px;
    margin-right: 10px;
    padding: 13px;
    background-color: $main_third;
  }
  .active {
    color: $main;
  }
  &__name {
    font-size: 20px;
    font-weight: bold;
  }
  &__programm {
    font-size: 16px;
    margin: 12px 0;
  }
  &__time {
    margin-right: 20px;
  }
}

@media screen and (max-width: $break-point) {
  .tv {
    &__img {
      margin-bottom: 20px;
    }
  }
}
