@import "./variables";
.tv {
  &__box {
    max-height: 66vh;
    width: 1180px;
    max-width: 100%;
    margin: 0 auto;
    overflow: auto;
  }
  &__channel {
    border-radius: 8px;
    height: 162px;
    margin-bottom: 16px;
    margin-right: 10px;
    padding: 15px;
    padding-bottom: 19px;
    background-color: $main_third;
  }
  .active {
    color: $main;
  }
  &__img {
    margin-top: -28px;
  }
  &__table {
    margin-left: 18px;
    padding-top: 8px;
    padding-bottom: 20px;;
  }
  &__name {
    font-family: "Rubick";
    font-size: 20px;
    margin-bottom: 17px;
    font-weight: bold;
  }
  &__programm {
    font-size: 16px;
    margin: 12px 0;
  }
  &__time {
    margin-right: 20px;
  }
}

@media screen and (max-width: $break-point) {
  .tv {
    &__box {
      height: 60vh;
    }
    &__img {
      margin-bottom: 20px;
    }
  }
}
