@import "./grid";
@import "./header";
@import "./variables";
@import "./modal";
@import "./switch";
@import "./movies";
@import "./genre";
@import "./footer";
@import "./scrollbar";
@import "./tv";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.hide {
  display: none !important;
}
.height {
  height: 100vh !important;
  overflow: hidden;
}
.toBottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
@media screen and (max-width: $break-point) {
  .toBottom {
    position: initial;
  }
}
