.input {
  border: none;
  border-bottom: 1px solid #333333;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col-md.one {
  width: 8.3%;
}

.col-md.two {
  width: 16.6%;
}

.col-md.three {
  width: 24.9%;
}

.col-md.four {
  width: 33.3%;
}

.col-md.five {
  width: 41.65%;
}

.col-md.six {
  width: 50%;
}

.col-md.seven {
  width: 58.3%;
}

.col-md.eight {
  width: 66.64%;
}

.col-md.nine {
  width: 74.97%;
}

.col-md.ten {
  width: 83.3%;
}

.col-md.eleven {
  width: 91.63%;
}

.col-md.twelve {
  width: 100%;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.align-content-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.align-items-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.w-100 {
  width: 100px;
}

.m5 {
  margin-right: 20px;
}

.m8 {
  margin-right: 18px;
}

@media screen and (max-width: 1120px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }
  .row .col-md {
    width: 100% !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row .m5 {
    margin: 0px;
  }
  .row .m8 {
    margin: 0px;
  }
}

.input {
  border: none;
  border-bottom: 1px solid #333333;
}

.input:focus {
  outline: none;
}

.header {
  margin-top: 32px;
}

.header__form {
  padding: 0;
  margin-left: 85px;
  margin-top: -5px;
}

.header__form input {
  width: 65%;
}

.header__form button {
  border: none;
  background-color: transparent;
  color: #e5261e;
  margin-left: 19px;
  margin-top: 7px;
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__login p {
  font-weight: bold;
}

.header__login button {
  background-color: #e5261e;
  margin-right: -3px;
  padding: 7px 30px;
  color: #fff;
}

.header__login button:hover {
  background-color: #cc221b;
}

.user {
  position: relative;
}

.user a {
  border: none;
  background-color: transparent;
  color: #e5261e;
  margin-top: 2px;
  text-decoration: none;
  padding: 6px 0;
  font-weight: bold;
  font-size: 16px;
}

.user p {
  margin: 0px;
  margin-right: 16px;
  cursor: pointer;
}

.user input {
  position: absolute;
  top: -20;
  left: -20;
}

@media screen and (max-width: 1120px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo {
    text-align: center;
  }
  .header__form {
    width: auto;
    margin: 30px auto;
  }
  .header__login {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.input {
  border: none;
  border-bottom: 1px solid #333333;
}

.input {
  border: none;
  border-bottom: 1px solid #333333;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.modal {
  z-index: 15;
}

.modal-content {
  margin-top: 200px !important;
  height: 394px;
  width: 304px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  border-radius: 8px;
}

.modal-title {
  font-weight: bold;
  text-align: center;
  margin: 36px 0;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 24px;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 30px;
}

.modal-input input {
  width: 100%;
  margin-bottom: 23px;
  padding: 4px;
}

.modal-input input.wrong {
  border-color: red;
}

.modal button {
  background-color: #e5261e;
  padding: 8px 30px;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.modal-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.modal-check input {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  opacity: 0;
  z-index: 5;
  cursor: pointer;
}

.modal-check .remember-fake {
  position: absolute;
  left: 5px;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 3px;
  color: #e5261e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-check .remember-label {
  margin-left: 30px;
}

.modal-check .enter {
  width: 113px;
  margin: 0 auto;
  margin-top: 111px;
}

@media screen and (max-width: 1120px) {
  .modal-content {
    margin-top: 50px !important;
  }
}

.input {
  border: none;
  border-bottom: 1px solid #333333;
}

.switch {
  margin-top: 38px;
  margin-bottom: 23px;
  font-size: 28px;
  font-weight: bold;
}

.switch__movie {
  cursor: pointer;
  margin-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
}

.switch__movie.active {
  color: #e5261e;
  border-bottom: 3px solid #e5261e;
}

.switch__tv {
  margin-left: 17px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.switch__tv.active {
  color: #e5261e;
  border-bottom: 3px solid #e5261e;
}

.input {
  border: none;
  border-bottom: 1px solid #333333;
}

.movies__row {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.movies__title {
  font-size: 24px;
  font-weight: bold;
  margin: 8px 0 15px 5px;
}

.movies__capture {
  font-size: 20px;
  margin-top: 18px;
  padding-right: 5px;
  color: #333333;
}

.movies__figure {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  height: 335px;
  width: 255px;
}

.movies__figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.movies__figure .figcaption {
  display: none;
}

.movies__figure:hover .figcaption {
  display: block;
  padding: 15px;
  opacity: 1;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  line-height: 180%;
}

@media screen and (max-width: 1120px) {
  .movies__hot {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .movies__card {
    padding: 10px;
    margin: 0px !important;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .movies__capture {
    margin: 10px 0px;
    text-align: center;
  }
}

.input {
  border: none;
  border-bottom: 1px solid #333333;
}

.genre__row {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.genre__title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 12px;
}

.genre__figure {
  width: 257px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.genre__gradient {
  height: 190px;
  width: 278px;
}

.genre__smile {
  position: absolute;
  top: 85px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(2);
          transform: translateX(-50%) scale(2);
}

.genre__capture {
  position: absolute;
  top: 150px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
}

.genre__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.genre__card:hover .genre__overlay {
  display: none;
}

.comedy {
  background: linear-gradient(136.27deg, #f2c94c 8.44%, #f29a4a 91.36%);
}

.drama {
  background: linear-gradient(136.27deg, #f2994a 8.44%, #eb5757 91.36%);
}

.fantasy {
  background: linear-gradient(136.27deg, #56ccf2 8.44%, #2f80ed 91.36%);
}

.horror {
  background: linear-gradient(136.27deg, #828282 8.44%, #333333 91.36%);
}

@media screen and (max-width: 1120px) {
  .genre__title {
    display: block;
    width: 100%;
    text-align: center;
  }
  .genre__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
  .genre__gradient {
    width: 100%;
  }
  .genre__smile {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(2);
            transform: translateX(-50%) scale(2);
  }
  .genre__capture {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.input {
  border: none;
  border-bottom: 1px solid #333333;
}

footer {
  width: 100%;
  background-color: #f2f2f2;
  margin-top: 62px;
  padding: 22px 0px 11px 0;
}

footer p {
  margin: 0px;
  padding-bottom: 8px;
}

footer a {
  color: #1f4766;
  font-weight: 700;
}

.contact {
  margin-left: 33px;
  font-size: 15px;
}

@media screen and (max-width: 1120px) {
  footer {
    padding: 22px 15px;
  }
  footer .logo2 {
    margin-bottom: 15px;
  }
}

.input {
  border: none;
  border-bottom: 1px solid #333333;
}

.tv {
  /* width */
  /* Track */
  /* Handle */
}

.tv ::-webkit-scrollbar {
  width: 6px;
}

.tv ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

.tv ::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 10px;
}

.input {
  border: none;
  border-bottom: 1px solid #333333;
}

.tv__box {
  max-height: 66vh;
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
}

.tv__channel {
  border-radius: 8px;
  margin-bottom: 16px;
  margin-right: 10px;
  padding: 13px;
  background-color: #f2f2f2;
}

.tv .active {
  color: #e5261e;
}

.tv__name {
  font-size: 20px;
  font-weight: bold;
}

.tv__programm {
  font-size: 16px;
  margin: 12px 0;
}

.tv__time {
  margin-right: 20px;
}

@media screen and (max-width: 1120px) {
  .tv__box {
    height: 60vh;
  }
  .tv__img {
    margin-bottom: 20px;
  }
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.hide {
  display: none !important;
}

.height {
  height: 100vh !important;
  overflow: hidden;
}

.toBottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

@media screen and (max-width: 1120px) {
  .toBottom {
    position: initial;
  }
}
/*# sourceMappingURL=styles.css.map */